.fixed-input {
  position: sticky;
  width: 100%;
  top: 0px;
  left: 5px;
  right: 5px;
  bottom: 30px;
  padding-bottom: 15px;
  border-bottom: black;
  background-color: lightslategray;
}

.list-area {
  margin-top: 10px;
}
